@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?han6xo');
  src:  url('fonts/icomoon.eot?han6xo#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?han6xo') format('truetype'),
    url('fonts/icomoon.woff?han6xo') format('woff'),
    url('fonts/icomoon.svg?han6xo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hyperlink:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-dribbble:before {
  content: "\e905";
}
.icon-rss:before {
  content: "\f034";
}
.icon-image:before {
  content: "\f03e";
}
.icon-photo:before {
  content: "\f03e";
}
.icon-picture-o:before {
  content: "\f03e";
}
.icon-star-half-empty:before {
  content: "\f123";
}
.icon-star-half-full:before {
  content: "\f123";
}
.icon-star-half-o:before {
  content: "\f123";
}
.icon-lamp:before {
  content: "\e908";
}
.icon-atom:before {
  content: "\e903";
}
.icon-documents:before {
  content: "\e006";
}
.icon-ribbon:before {
  content: "\e01e";
}
.icon-display:before {
  content: "\e904";
}
.icon-params:before {
  content: "\e902";
}
.icon-add:before {
  content: "\e145";
}
.icon-navigate_before:before {
  content: "\e408";
}
.icon-navigate_next:before {
  content: "\e409";
}
.icon-language:before {
  content: "\e894";
}
.icon-search:before {
  content: "\e8b6";
}
.icon-social-facebook:before {
  content: "\e909";
}
.icon-social-vimeo:before {
  content: "\e906";
}
.icon-social-linkedin:before {
  content: "\e907";
}
.icon-star-outline:before {
  content: "\e90e";
}
.icon-google:before {
  content: "\e90b";
}
.icon-pinterest:before {
  content: "\e90c";
}
.icon-tumblr:before {
  content: "\e90a";
}
.icon-twitter:before {
  content: "\e90d";
}

