footer
  .footer-content
    .container
      .row
        .col-md-3
          a.navbar-brand(href='javascript: void(0);') the
            span.text-logo fox
          .clear
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quas quae facilis, accusantium illo, unde doloremque dignissimos aliquam deserunt repellat enim veniam illum sunt eligendi soluta, natus molestias, inventore fugit.
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, repudiandae pariatur quia quos beatae minus.
        .col-md-3
        .col-md-3
        .col-md-3
