//code here
.clear {
  clear: both;
}

.uppercase {
  text-transform: uppercase;
}
.section__text--title {
  @extend .uppercase;
  font-size: 30px;
}

.section__text--description {
  @extend .uppercase;
  font-size: 12px;
}

.horizontal-stripes {
  width: 100px;
  border-top: solid 1px $gray-text;
  position: relative;
  top: 20px;
}

%section-margin {
  padding: $margin-section 0;
  position: relative;
}
